/*-- scss:defaults --*/

// Import Fonts


// EXAMPLE SCSS STYLING:
// Colors
// $dark-green: #858E79;
// $light-green: #D1D9CE;
// $cream: #FDFBF7;
// $gray: #64605f;
// $purple: #9158A2;
// $orange: #ad7237;

// // Base document colors
// $navbar-bg: $cream; // navbar
// $navbar-fg: $dark-green; // navbar foreground elements
// $navbar-hl: $purple; // highlight color when hovering over navbar links
// $body-bg: $light-green; // page background 
// $body-color: $gray; // page text 
// $footer-bg: $cream; // footer 
// $link-color: $purple; // hyperlinks 

// // Inline code
// $code-bg: $cream; // inline code background color
// $code-color: $purple; // inline code text color


.banner-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px; /* Adjust as needed */
    height: auto; /* Adjust if you want a specific height, or leave as auto to maintain aspect ratio */
}

.dropdown1 {
    color: green;
}

.notice {
    background-color: #ffcc00; /* Yellow background */
    color: #000; /* Black text */
    padding: 10px;
    border: 2px solid #000; /* Black border */
    font-size: 1.5em; /* Larger font size */
    text-align: center; /* Centered text */
    margin-bottom: 20px; /* Space below the notice */
}

.centered h1,
.centered h2,
.centered h3,
.centered h4 {
  text-align: center;
//   text-decoration: underline;
  margin: 0; // Optional: Adjusts the margin if necessary
}


.highlight1 {
    color: orange;
}

/* Container for the single team member */
.team-container {
    display: flex;
    justify-content: center; /* Centers the entire layout horizontally */
    align-items: center; /* Aligns items vertically in the container */
    gap: 40px; /* Space between the image and bio */
    margin-top: 10px; /* Optional top margin */
    padding: 20px; /* Optional padding */
}

/* Left-side: Team member image and role */
.team-photo-role {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers image and role together */
}

/* Team member rectangular image */
.team-photo {
    width: 300px; /* Set width of rectangle */
    height: 200px; /* Set height of rectangle */
    object-fit: cover; /* Ensures the image covers the entire area */
    // box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px; /* Space between the image and the role */
}

/* Role styling */
.team-role {
    font-size: 1.2em;
    color: #FDF6F6;
    text-align: center;
}

/* Right-side: Bio section */
.team-bio {
    font-size: 1em;
    color: #FDF6F6;
    line-height: 1.5em;
    max-width: 400px; /* Limits the bio width */
    text-align: left; /* Aligns bio text to the left */
}




body {
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #FDF6F6;
    background-color: #222;
}

h1, h2, h3, h4, h5, h6 {
    color: #FDF6F6;
}

a {
    color: #2C9AB7;
    text-decoration: none;
}

a:hover {
    color: #FDF6F6;
    text-decoration: underline;
}

p {
    line-height: 1.6;
}

